.parent {
    margin: -8px;
    display: flex;
    justify-content: space-between;
}

.first-child {
    width: 60px;
    height: 60px;
    background-color: rgb(99, 170, 232);
}

.second-child {
    width: 60px;
    height: 60px;
    background-color: rgb(99, 170, 232);
}

.third-child {
    width: 60px;
    height: 60px;
    background-color: rgb(99, 170, 232);
}

.Fourth-child {
    width: 60px;
    height: 60px;
    background-color: rgb(99, 170, 232);
}

.fifth-child {
    width: 60px;
    height: 60px;
    background-color: rgb(99, 170, 232);
}

.image-box {
    width: 390px;
    height: 245px;
    margin: 10px auto 20px;
    line-height: 44;
}

.image {
    width: 100%;
    height: 100%;
    border: 2px solid gray;
    border-radius: 16px 16px 16px 16px;
}

.text {
    text-align: center;
    font-size: 20px;
    font-family: tahoma;
}
.center {
    text-align: center;
}


#icons {
    margin-right: 3px;
    font-size: 20px;
    color: black;
}
